<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Produtos</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a ui-sref="produtoNovo" class="btn btn-sm btn-outline-success">
            <span class="fas fa-plus-square"></span>
            Novo produto
        </a>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td class="text-right">
                    <a href=""><span class="fas fa-edit"></span></a>
                    <a href=""><span class="fas fa-trash-alt"></span></a>
                </td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td class="text-right">
                    <a href=""><span class="fas fa-edit"></span></a>
                    <a href=""><span class="fas fa-trash-alt"></span></a>
                </td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td class="text-right">
                    <a href=""><span class="fas fa-edit"></span></a>
                    <a href=""><span class="fas fa-trash-alt"></span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>